<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries in Data Science</li>
    <li>List popular tools in Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>numpy</li>
    <li>matplotlib</li>
    <li>ggplot2</li>
    </ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Anaconda</td>
    </tr>
    <tr>
        <td>Jupyter Notebooks</td>
    </tr>
    <tr>
        <td>PyCharm</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [3]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Mohammad Abbas